{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
        <h3>Welcome to medicine in  turkey </h3>
        <p>Email: example@email.com</p>
        <p>Whatsapp: 01001426668</p>
        <a href="https://facebook.com">Facebook</a>
        <p></p>
        <a  href="{% url 'article:articles'  %}">Articles</a>
</div>


<p>
        {% if request.user.is_authenticated %}
                Signed In, {{request.user.username}}
        {% else %}
                Not Signed In
        {% endif %}

</p>
{% endblock body %}

